img {
  height: 10em;
  width: auto;
  display: inline-block;
}

.Generator-images {
  align-items: center;
}

#board {
  margin: auto;
}

.row {
  display: block;
  align-items: center;
  text-align: center;
}

.number_img {
  height: 3em;
  width: auto;
  position: absolute;
  top: -5.1em;
  left: 4em;
}

.hex-parent {
  position: relative;
  top: 0;
  left: 0;
}

.hex {
  position: relative;
  top: 0;
  left: 0;
  transform: rotate(30deg);
  margin: -0.5em;
}

.port_img {
  height: 5em;
  width: auto;
}

.ports {
  position: absolute;
}

#port_one {
  position: absolute;
  top: -12.5em;
  left: -1em;
  transform: rotate(149deg);
}

#port_two {
  position: absolute;
  top: -13em;
  left: 6em;
  transform: rotate(209deg);
}

#port_three {
  position: absolute;
  top: -6em;
  left: -4.6em;
  transform: rotate(90deg);
}

#port_four {
  position: absolute;
  top: -12.9em;
  left: 6.3em;
  transform: rotate(-152deg);
}

#port_five {
  position: absolute;
  top: -6.5em;
  left: 10.3em;
  transform: rotate(-90deg);
}

#port_six {
  position: absolute;
  top: -5.6em;
  left: -4.7em;
  transform: rotate(90deg);
}