img {
  height: 10em;
  width: auto;
  display: inline-block;
}

.Generator-images {
  align-items: center;
}

#board {
  margin: auto;
}

.row {
  display: block;
  align-items: center;
  text-align: center;
  /* margin-top: -4em; */
}

.number_img {
  height: 3em;
  width: auto;
  position: absolute;
  top: -5.1em;
  left: 4em;
}

.hex-parent {
  position: relative;
  top: 0;
  left: 0;
  /* margin-left: 2em;
  margin-right: 2em; */
}

.hex {
  position: relative;
  top: 0;
  left: 0;
  transform: rotate(30deg);
  margin: -0.5em;
}