img {
  height: 10em;
  width: auto;
  display: inline-block;
}

.Generator-images {
  align-items: center;
}

#board {
  margin: auto;
}

.row {
  display: block;
  align-items: center;
  text-align: center;
}

.number_img {
  height: 1em;
  width: auto;
}